/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, sans-serif;
}

.container {
  display: flex;
  padding: 25px;
}

a {
  text-decoration: none;
}

html,
body {
  background: rgb(255, 0, 106);
  background: linear-gradient(
      180deg,
      rgba(255, 0, 106, 1) 35%,
      rgba(255, 54, 54, 1) 100%
    )
    center center/cover no-repeat;
}

.btn {
  background: #f7f7f7;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 11px;
  height: 3rem;
  text-align: center;
}

.btn a {
  position: relative;
  color: #ff3636;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 3rem;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background: rgb(255, 0, 106);
  background: linear-gradient(
    180deg,
    rgba(255, 0, 106, 1) 35%,
    rgba(255, 54, 54, 1) 100%
  );
}

.btn-primary a {
  color: #f7f7f7;
}

.card {
  background: #f7f7f7;
  padding: 2rem;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 11px;
  margin: auto;
}

#choice {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.resume-card {
  padding: 2rem;
  margin: 2rem;
  border: #160536 3px solid;
  border-radius: 35px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-height: 30vh;
}

.resume-card img {
  width: 100%;
}

#btn-menu {
  display: none;
}

#resume-popup {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#resume-popup .container {
  width: 100%;
  flex-direction: row;
}

#resume-popup .container .card {
  width: 20%;
  min-width: 500px;
}

#resume-popup .container .card #choice .resume-card {
  cursor: pointer;
}

#resume-popup .container .card #choice .resume-card:hover {
  background: #ff006a;
  color: #f7f7f7;
}

#resume-popup .container .card #choice .resume-card div {
  flex: 1;
  padding: 0.5rem;
}

#resume-popup-exit {
  cursor: pointer;
  float: right;
  margin-left: 2rem;
}

#main {
  background: url("../img/Wave-1.svg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #f7f7f7;
  height: 110vh;
}

#main h1 {
  display: flex;
  font-size: 4.5rem;
  padding-left: 20vw;
  padding-top: 5vh;
  text-shadow: rgba(0, 0, 0, 0.11) 3px 3px 11px;
}

#main p {
  display: flex;
  margin-left: 20vw;
  padding-top: 25px;
  width: 350px;
  line-height: 25px;
  font-size: 1.25rem;
}

#main nav ul {
  display: flex;
  list-style: none;
  flex-direction: row-reverse;
  padding: 15px 45px;
}

#main nav ul li {
  padding: 15px;
  text-align: center;
}

#main nav ul li {
  color: #ff006a;
  font-size: 2.5rem;
  padding-bottom: 2px;
}

#main nav ul li i {
  border-bottom: #ff006a 2px solid;
}

#main nav ul li i:hover {
  cursor: pointer;
}

#main .btn {
  width: 150px;
  margin-top: 5%;
  margin-left: 20vw;
}

#skills {
  background: #f7f7f7;
}

#skills .container {
  justify-content: space-around;
}

#skills .container .item {
  padding: 1rem;
  display: flex;
  flex-flow: column;
  flex: 1;
  text-align: center;
}

#skills .container .item h1 {
  font-size: 3rem;
  color: #ff3636;
}

#skills .container .item p {
  font-size: 1.3rem;
  font-weight: lighter;
  color: #160536;
  text-align: left;
  line-height: 35px;
}

#skills .container .item img {
  margin-bottom: 15%;
  width: 20vw;
}

#projects {
  background: url("../img/wave-2.svg") center -1% no-repeat;
}

#projects .container {
  overflow: hidden;
}

#projects .container .item {
  background: #f7f7f7;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.11) 3px 3px 11px;
  width: 30%;
  text-align: center;
  margin: 3%;
  flex: 1;
}

#projects .container .item img {
  box-shadow: rgba(0, 0, 0, 0.11) 3px 3px 11px;
  width: 90%;
}

#projects .container .item .project-btns {
  display: flex;
  justify-content: center;
}

#projects .container .item h1 {
  font-size: 3rem;
}

#projects .container .item p {
  font-size: 1.25rem;
  font-weight: lighter;
  line-height: 35px;
}

#projects .container .item h1,
#projects .container .item p {
  text-align: left;
  padding: 20px;
}

#projects .container .item .project-btns {
  justify-content: center;
  flex-flow: column;
}

#projects .container .item .project-btns .btn {
  margin: 10px;
  flex: 1;
}

#contact {
  background: url("../img/wave-3.svg") center center/cover no-repeat;
  padding-bottom: 3rem;
}

/* Contact Me */
#contact #form {
  background: #f7f7f7;
  border-radius: 35px;
  font-size: 2.25rem;
  color: #160536;
  max-width: 512px;
  box-shadow: #0000001c 3px 3px 11px;
  margin-left: 5%;
  padding: 2rem;
}

#contact #form h2 {
  padding-top: 15px;
}

#contact #form p {
  font-size: 1.5rem;
  padding-top: 15px;
  padding-bottom: 5px;
}

#contact #form textarea,
#contact #form input {
  background: #e0e0e0;
  padding-left: 1rem;
  border: #707070 1px solid;
  border-radius: 15px;
  height: 50px;
  width: 100%;
  font-size: 1.5rem;
}

#contact #form textarea {
  height: 35vh;
  padding-top: 5px;
}

#contact #form .btn {
  width: 100%;
  font-size: 2rem;
  align-self: center;
  flex-basis: max-content;
  margin-top: 5%;
  margin-bottom: 25px;
}

#contact #form .btn a {
  font-size: 2rem;
}

/* Tablet */
@media only screen and (max-width: 800px) {
  #main h1 {
    padding-top: 10vw;
  }

  #main .btn {
    width: 50vw;
  }

  #skills .container {
    flex-flow: column;
    justify-content: space-around;
    align-content: center;
  }

  #skills .container .item {
    flex-direction: row;
    text-align: left;
  }

  #skills .container .item img {
    width: 150px;
  }

  #skills .container .item h1 {
    font-size: 2.5rem;
    padding-top: 2.5rem;
  }

  #skills .container .item p {
    font-size: 1.25rem;
    line-height: 20px;
  }

  #skills .container .item div:last-child {
    padding: 0;
    margin: 0;
  }

  #projects .container .item:last-child {
    display: none;
    flex: 0;
  }
}

/* Phone */
@media only screen and (max-width: 425px) {
  #main h1 {
    padding: 0;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 30vw;
    font-size: 3.5rem;
    width: auto;
  }

  #main p {
    padding: 0 5vw;
    margin: 0;
    width: auto;
  }

  #main nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  #main nav ul {
    justify-content: end;
  }

  #main nav ul li {
    color: #f7f7f7;
    font-size: 2.5rem;
    padding-bottom: 2px;
  }

  #main nav ul li i {
    border-bottom: #f7f7f7 2px solid;
  }

  #main nav ul li:last-child {
    color: #ff006a;
    border-bottom: none;
    flex: 1;
    text-align: right;
    border: none;
  }

  #main nav ul li:last-child i {
    border: none;
  }

  #btn-menu {
    display: block;
  }

  #btn-resume {
    background: rgb(255, 0, 106);
    background: linear-gradient(
      180deg,
      rgba(255, 0, 106, 1) 35%,
      rgba(255, 54, 54, 1) 100%
    );
    color: #f7f7f7;
  }

  #btn-resume {
    margin: 40px;
    margin-top: 30vw;
    width: 80vw;
  }

  #projects .container {
    flex-direction: column;
  }

  #projects .container .item {
    margin-left: 0;
    width: 90vw;
  }

  #projects .container .item p {
    display: none;
  }
  #skills .container .item {
    padding: 0;
  }
  #skills .container .item img {
    height: 20vh;
  }
  #skills .container .item h1 {
    font-size: 1.5rem;
    padding-top: 2.5rem;
  }

  #skills .container .item p {
    font-size: 0.75rem;
    line-height: 20px;
  }

  #contact #form {
    margin: 1rem;
  }

  #contact #form textarea {
    height: 30vh;
  }
}
